<h4>Contact Me</h4>

<hr >

<div class="container">

  <!-- start of form section -->
  <!-- this section will only show if form hasn't been submitted -->
  <div class="row" *ngIf="!submitted">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="username">Your Name:</label>
          <input type="text" id="username" class="form-control"
          [formControlName]="'username'">

          <!-- start of help block -->
          <!-- block will only appear if field is not valid AND is touched-->
          <span class="help-block"
          *ngIf="!contactForm.get('username').valid && contactForm.get('username').touched">

                <!-- this message will appear when 'required' error comes up (means field is empty) -->
                <span *ngIf="contactForm.get('username').errors['required']">   
                  This field is required!
                </span>

                <!-- this message will appear when 'minlength' error comes up (means not enough characters entered) -->
                <!-- this message will NOT appear if 'required' error comes up -->
                <span *ngIf="contactForm.get('username').errors['minlength'] &&
                              !contactForm.get('username').errors['required']">   
                  Minimum of 3 characters required!
                </span>

                <!-- this message will appear when 'blankSpaces' error comes up (means blank spaces were entered instead of actual words) -->
                <!-- note: blankSpaces is a self-written Validator (see TS file) -->
                <!-- this message will NOT appear if 'minlength' error comes up -->
                <!-- this message will NOT appear if 'required' error comes up -->
                <span *ngIf="!contactForm.get('username').errors['minlength'] &&
                              contactForm.get('username').errors['blankSpaces'] &&
                              !contactForm.get('username').errors['required']">   
                  Blank spaces are not allowed!
                </span>
          </span>        
          <!-- end of help block-->  
        </div>

        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="email" id="useremail" class="form-control"
          [formControlName]="'useremail'"> 
          
          <!-- start of help block -->
          <!-- block will only appear if field is not valid AND is touched-->
          <span class="help-block"
          *ngIf="!contactForm.get('useremail').valid && contactForm.get('useremail').touched">

                <!-- this message will appear when 'required' error comes up (means field is empty) -->            
                <span *ngIf="contactForm.get('useremail').errors['required']">
                  This field is required!
                </span>

                <!-- this message will appear when 'email' error comes up (means format not correct) -->            
                <span *ngIf="contactForm.get('useremail').errors['email']">
                  Email is invalid!
                </span>

                <!-- this message will appear when 'emailBlackListed' error comes up -->  
                <!-- note: emailBlackListed is a self-written Validator (see TS file) -->          
                <span *ngIf="contactForm.get('useremail').errors['emailBlackListed']">
                  This email is Forbidden.
                </span>
            
          </span>  
          <!-- end of help block-->
        </div>

        <div class="form-group">
          <label for="userphone">Your Phone Number:</label>
          <input type="text" id="userphone" class="form-control"
          [formControlName]="'userphone'" maxlength="15">  

          <!-- start of help block -->
          <!-- block will only appear if field is not valid AND is touched-->
          <span class="help-block"
          *ngIf="!contactForm.get('userphone').valid && contactForm.get('userphone').touched">

                <!-- this message will appear when 'required' error comes up (means field is empty) -->
                <span *ngIf="contactForm.get('userphone').errors['required']">
                  This field is required!
                </span>

                <!-- this message will appear when 'phoneCharacters' error comes up -->
                <!-- note: phoneCharacters is a self-written Validator (see TS file) -->
                <!-- this message will NOT appear if 'required' error comes up -->
                <span *ngIf="!contactForm.get('userphone').errors['required'] &&
                              contactForm.get('userphone').errors['phoneCharacters']">
                 Only numbers, +, -, (), and spaces allowed!
                </span>

          </span>
          <!-- end of help block-->          
        </div>

        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" id="usermessage" rows="5" class="form-control"
          [formControlName]="'usermessage'"></textarea>  

          <!-- start of help block -->
          <!-- block will only appear if field is not valid AND is touched-->
          <span class="help-block"
          *ngIf="!contactForm.get('usermessage').valid && contactForm.get('usermessage').touched">
            This field is required!
          </span>   
          <!-- end of help block--> 
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>

      </form>

      <hr>      

    </div>
  </div>
  <!-- end of form section -->

  <!-- start of summary section -->
  <!-- this section will only show if form was submitted -->
  <div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>Your Data</h3>
      <p>Username: {{ contactForm.value.username }}</p>
      <p>Contact Number: {{ contactForm.value.userphone }}</p>
      <p>Email: {{ contactForm.value.useremail }}</p>
      <p>Message: {{ contactForm.value.usermessage }}</p>
      <p><button class="btn btn-primary" (click)="onBackClick()">Back To Form</button></p>
    </div>
  </div>  
  <!-- end of summary section -->

</div>

