<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>My Friends</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Filter: <input type="text" [(ngModel)]="searchStr"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let friend of myFriends | find:'name':searchStr ; let i = index" [appHoverHighlight]="{background:'blue', text:'red'}" [appClickChangeSize]="'10px'">
            <th scope="row">{{ friend.fr_id }}</th>
            <td>{{ friend.name | uppercase }}</td>
            <td>{{ friend.email }}</td>
            <td>{{ friend.contact }}</td>
            <td>{{ friend.address }}</td>
            <td><button class="btn btn-danger" (click)="onDeleteFriend(friend.fr_id)">Delete</button></td>
            <td><button class="btn btn-info" (click)="onViewMore(friend.fr_id)">More</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Additional exercise: Using ngFor with simple lists  -->
<ul>
  <li *ngFor="let hero of heroes">{{ hero }}</li>
</ul>