<h4>
    home works!
</h4>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-left">
      <div class="form-group">
        <label for="username">User Name:</label>
        <input type="text" class="form-control" id="username" #username value="ABC">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" #password value="123">
      </div>
      <div class="form-group">
        <button (click)="onLogin(username, password)" type="button" 
        class="btn btn-large btn-block btn-success">Login</button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <img 
  src="https://static.pexels.com/photos/207896/pexels-photo-207896.jpeg" 
  alt=""
  style="max-width: 50%">
  


<!--
    
<img
    src="https://static.pexels.com/photos/207896/pexels-photo-207896.jpeg"
    alt=""
    style="max-width: 50%">
  
-->
  